.img {
  border-radius: 20px;
}

/*@media (prefers-color-scheme: dark) {
    filter: grayscale(35%);
  }
} */

/* margin-left: 25px;
  margin-right: 25px;
*/
.example {
  background-color: #DEF4FB;
  background-clip: padding-box;
  padding: 15px;
  border-radius: 10px;
  opacity: 95%;
  font-style: italic;
  font-size: 90%;

@media (prefers-color-scheme: dark) {
    background-color: #7E57C2;
  }
}
